<div>
  <app-about></app-about>
  
</div>

<section class="contact">
  <div class="contact-content">
    <h2 class="title">Contact Us</h2>
    <div class="info">
      <!-- <div > -->
        <a class="contact-card phone" href="https://wa.me/9613655616" target="_blank" rel="noopener noreferrer" aria-label="Call us on WhatsApp">WhatsApp
        </a>
      <!-- </div> -->
      <!-- <div > -->
        <a  class="contact-card email" href="mailto:kobeissyhadi@gmail.com" aria-label="Send us an email">
          <i class="fas fa-envelope"></i>
          <p>email</p>
        </a>
      <!-- </div> -->
    </div>
  </div>
</section>
