<div style="display: flex; flex-direction: column; width: 100%; height: 100%; justify-content: start; align-items: start;">
    <mat-nav-list  class="w-full">
      <a mat-list-item (click)="route('Services')"  class="w-full  hover:shadow-lg"><div  class="text-red-500 text-lg hover:text-blue-500">Products</div></a>
      <a mat-list-item (click)="route('contact')"  class="w-full  hover:shadow-lg"><div  class="text-red-500 text-lg hover:text-blue-500">Contact</div></a>
    </mat-nav-list>
  </div>